* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

/*Header*/
body header {
  width: 100%;
  height: 700px;
  background-color: rgb(0, 0, 0);
  background-image: url("img/fondo.png");
  background-size: 150%;
  background-position: bottom;
  background-repeat: no-repeat;
}

/*Navegador*/
body header nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px -.5px 2px #FFFFFF inset;
  display: flex;
  flex-direction: row;
}

body header nav img {
  width: 65px;
  height: 60px;
  padding: 5px;
  margin-left: 50px;
}

/*Lista*/
body header nav ul {
  width: 80%;
  height: 75px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/*Enlaces navegacion*/
body header nav ul a {
  color: rgb(194, 194, 194);
  padding: 12px;
  text-decoration: none;
}

body header nav ul a li:hover {
  color: #dfe20c;
}

/*Titulo pagina*/
#titulo {
  width: 50%;
  font-size: 5em;
  float: left;
  color: rgb(245, 245, 245);
  font-family: 'Anton', sans-serif;
  letter-spacing: 5px;
  margin-top: 18%;
  margin-left: 8%;
}

#titulo p {
  font-size: 0.4em;
  font-family: 'Anton', sans-serif;
}

#titulo #club {
  font-size: 0.2em;
  font-family: 'Noto Sans', sans-serif;
}

body header #llamado {
  width: 370px;
  height: 280px;
  float: left;
  margin-top: 15%;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  text-align: center;
}

body header #llamado p {
  padding: 6px;
}

body header #llamado p:first-of-type {
  color: #dfe20c;
}

body header #llamado a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.78);
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  padding: 5px 30px;
  border-radius: 10px;
  transition: background 0.6s;
}

body header #llamado a:hover {
  background: #dfe20c;
}

/*************************************************/
/*main*/
body main {
  width: 60%;
  height: 550px;
  margin-left: 20%;
  margin-top: 90px;
  display: flex;
}

body main .container-1 {
  display: flex;
  flex-direction: column;
}

body main .container-1:last-of-type {
  align-self: flex-end;
  align-items: flex-end;
}

body main .container-1 h2 {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 3px;
  width: 70%;
  background-color: #dfe20c;
  padding: 10px 20px;
}

body main .container-1:last-of-type h2 {
  text-align: right;
}

body main .container-1 p {
  color: rgb(194, 194, 194);
  width: 160%;
  padding: 20px;
}

body main .container-1:last-of-type p {
  text-align: right;
}

/***********************************************/
/*Topicos*/
body #topicos {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

body #topicos h2 {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 3px;
  background-color: #dfe20c;
  padding: 10px 20px;
  width: 60%;
  font-size: 1.5em;
  text-align: center;
}

body #lista {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

body #lista .topico {
  width: 300px;
  height: 350px;
  background-color: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body #lista .topico h3 {
  color: #dfe20c;
  padding: 10px;
  text-align: center;
}

body #lista .topico p {
  color: rgb(194, 194, 194);
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}

/***********************************************/
/*Llamado a la accion*/
body #registro {
  width: 100%;
  height: 400px;
  margin-top: 80px;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("img/registro.jpg");
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

body #registro img {
  width: 200px;
  height: auto;
}

body #registro h3 {
  width: 70%;
  color: #dfe20c;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  font-size: 2.3em;
  text-align: center;
}

body #registro h3 p, body #registro h3 a {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.43);
  letter-spacing: 1px;
  font-size: .5em;
  font-family: 'News Cycle', sans-serif;
}
body #registro h3 a{
  background-color: #fcff2a;
  padding: 2px 10px;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  text-decoration: none;

}
body #registro h3 a:hover {
  color: #939393;
}

/***********************************************/
/*Ponentes*/
body #ponentes {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
}

body #ponentes h2 {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 3px;
  background-color: #dfe20c;
  padding: 10px 20px;
  width: 60%;
  font-size: 1.5em;
  text-align: center;
  align-self: flex-end;
}

body #ponentes #lista-p {
  width: 80%;
  height: auto;
  margin-top: 80px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

body #ponentes #lista-p .ponente {
  width: 300px;
  height: 600px;
  margin: 10px;
  color: #000;
  background-color: rgba(252, 252, 252, 0.26);
  box-shadow: -3px -3px 7px rgba(252, 252, 252, 0.26);
  border-radius: 5px;
}

body #ponentes #lista-p .ponente img {
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
}

body #ponentes #lista-p .ponente h3 {
  padding: 20px;
  color: rgb(231, 224, 224);
  text-transform: uppercase;
}

body #ponentes #lista-p .ponente p {
  padding: 10px 20px;
  color: rgb(231, 224, 224);
  font-size: 0.9em;
}

body #ponentes #lista-p .ponente a {
  padding: 5px 5px;
  color: rgb(231, 224, 224);
}

body #ponentes #lista-p .ponente a:first-of-type {
  padding: 5px 5px 5px 20px;
}

body #ponentes #lista-p .ponente a:hover {
  color: #dfe20c;
}

/***********************************************/
/*Agenda*/
body #agenda {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  text-align: center;
}

body #agenda h2 {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 3px;
  width: 50%;
  background-color: #dfe20c;
  padding: 10px 20px;
}
body #agenda p{
  padding: 20px;
  margin-top: 10px;
  font-size: 2em;
  color: white;
}
body #agenda img{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

/***********************************************/
/*Footer*/
body footer {
  width: 100%;
  height: 200px;
  background-color: rgba(10, 10, 10, 0.88);
  color: rgb(224, 224, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body footer img {
  width: 100px;
  height: auto;
  padding: 5px 30px;
}
body footer a {
  color: rgb(224, 224, 227);
  text-decoration: none;
}
body footer p i {
  color: #FFF;
}

/********************************************************************/
/*NAVEGACION EN PANTALLAS PEQUEÑAS
body header nav #nav-mobile {
  display: none;
  float: right;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 999;
  cursor: pointer;
  padding: 18px;
  opacity: 0.5;

}

#nav-mobile i {
  font-size: 2.3em;
  color: #FFFFFF;
  padding: 3px;
}

body header nav #nav-mobile .nav-active  {
  opacity: 1;
  background-color: yellow;
}
body header #menu ul.open-menu {
    max-height: 270px;
    background-color: red;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    -ms-transition: max-height 0.6s;
    -o-transition: max-height 0.6s;
    transition: max-height 0.6s;
  }*/

/********************************************************************/
/**************************RESPONSIVE********************************/
/*1200PX*/
@media all and (max-width:1250px) {
  body main {
    height: 650px;
  }

  body #ponentes #lista-p {
    width: 95%;
    margin-left: 2.5%;
  }
}

/*1100PX*/
@media all and (max-width:1100px) {
  #titulo {
    margin-left: 4%;
  }

  body header #llamado {
    margin-top: 25%;
  }

  body #lista .topico {
    width: 250px;
    height: 450px;
  }
}

/*1000PX*/
@media all and (max-width:1000px) {
  body header {
    height: 800px;
    background-position: center;
    background-size: 190%;
  }

  #titulo {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 0%;
    margin-left: 0%;
    margin: 0px auto;
    position: relative;
    top: 13%;
    text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.82);
    font-size: 4em;
  }

  body header #llamado {
    width: 370px;
    height: 300px;
    float: none;
    margin-top: 0%;
    margin: 0px auto;
    padding: 30px;
    position: relative;
    top: 18%;
  }

  body main {
    width: 80%;
    margin-left: 10%;
  }

  body #lista .topico {
    width: 40%;
    height: 300px;
  }

  body #registro img {
    width: 250px;
  }

  body #ponentes #lista-p {
    width: 80%;
    margin-left: 10%;
  }
}

/*820PX*/
@media all and (max-width:820px) {

  body #ponentes #lista-p {
    width: 100%;
    margin-left: 0%;
  }

  /*NAVEGACION*/
  body header nav #nav-mobile {
    display: block;
  }

  body header nav {
    flex-direction: row;
    position: fixed;
  }
  body header nav #ul {
    display: none;
  }
}

/*750PX*/
@media all and (max-width:750px) {
  body header{
    height: 900px;
    background-size: 270%;
  }
  body main {
    height: 700px;
  }

  body #lista .topico {
    height: 450px;
  }

  body #registro {
    height: 550px;
  }
}

/*670PX*/
@media all and (max-width:670px) {
  body main {
    width: 95%;
    margin-left: 2.5%;
  }

  body main {
    flex-direction: column;
  }

  body main .container-1 h2 {
    width: 40%;
  }

  body main .container-1 p {
    width: 90%;
  }

  body #lista .topico {
    width: 85%;
    height: 300px;
    margin-left: 1%;
  }

  body #registro {
    flex-direction: column;
    background-size: 200%;
    height: 650px;
  }

  body #registro h3 {
    width: 90%;
  }
}

/*600PX*/
@media all and (max-width:600px) {
  body header {
    background-size: 300%;
  }
}

/*500PX*/
@media all and (max-width:500px) {
  body header {
    height: 800px;
    background-size: 300%;
  }

  body header #titulo {
    font-size: 3.3em;
  }

  body header #llamado {
    width: 70%;
    height: 300px;
    margin-top: 5%;
    font-size: 0.8em;
  }

  body header #llamado a {
    font-size: 1em;
    padding: 3px 20px;
  }

  body main .container-1 p {
    font-size: 0.9em;
  }

  body #lista .topico {
    height: 400px;
  }

  body #registro {
    font-size: 0.9em;
  }
  body #registro {
    background-size: 400%;
    height: 750px;
  }
}

/*450PX*/
@media all and (max-width:450px) {
  body header {
    height: 950px;
    background-size: 400%;
  }
  body header #llamado{
    height: 310px;
  }
  body header #llamado iframe{
    width: 200px;
    height: 200px;
  }
  body header #titulo {
    font-size: 2.9em;
  }

  body main {
    height: auto;
  }

  body main .container-1 h2 {
    width: 60%;
  }

  body #lista .topico {
    width: 70%;
    height: 450px;
    margin-left: 1%;
  }

  body footer p {
    text-align: center;
    font-size: 0.9em;
  }
}
